[Desktop Entry]
Name=Bluetui
GenericName=Bluetooth Manager
Comment=Manage bluethooth devices
Exec=bluetui
Terminal=true
Type=Application
Keywords=bluetooth
Categories=Utility;Settings;ConsoleOnly
StartupNotify=false
